@(f: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(fieldErrors.f) }

<div class="form-group">
    <label for="password" class="col-md-3 control-label">Password</label>
    <div class="col-md-9">
        <input type="password" class="$lform-control loginInput" name="password" placeholder=@Messages("playauthenticate.login.password.placeholder")>
        @inputText(f("password"))
    </div>
</div>

<div class="form-group">
    <label for="password" class="col-md-3 control-label">Repeat Password</label>
    <div class="col-md-9">
        <input type="password" showConstraints=false error=f.error("password") class="$lform-control loginInput" name="repeatPassword" placeholder=@Messages("playauthenticate.login.password.repeat")>
        @inputText(f("repeatPassword"))
    </div>
</div>

