@(signupForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(fieldErrors.f) }

@main(Messages("playauthenticate.signup.title"), "signup") {
    <div class="container">
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px">
                        <a id="signinlink" href="@routes.Application.login()">@Messages("playauthenticate.navigation.login")</a>
                    </div>
                </div>
                <div class="panel-body" >
                    @helper.form(routes.Application.doSignup, 'role -> "form", 'class -> "form-horizontal", 'id -> "signupform") {
                        <div class="inset">
                            @if(signupForm.hasGlobalErrors) {
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span>@signupForm.globalError.message</span>
                                </div>
                            }

                            <div class="form-group">
                                <label for="name" class="col-md-3 control-label">Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="$lform-control" name="name" placeholder=@Messages("playauthenticate.signup.name")>
                                    @inputText(signupForm("name"))
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-md-3 control-label">Email</label>
                                <div class="col-md-9">
                                    <input type="text" class="$lform-control" name="email" value="" placeholder="mustermann@@test.com">
                                    @inputText(signupForm("email"))
                                </div>
                            </div>

                            @_passwordPartial(signupForm)
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-3">
                                <button type="submit" id="btn-signup" class="login btn btn-info"><i class="icon-hand-right"></i> &nbsp @Messages("playauthenticate.signup.now")</button>
                            </div>
                            <div class="col-md-1">or</div>
                            <div class="col-md-4">
                            @_providerPartial(skipCurrent=false)
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
}
